#rt{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    padding: 10px;
    margin: 0;
    background: linear-gradient(90deg, #18c7df 0%, rgb(88, 97, 122) 100%);
}

#lnk{
    cursor: pointer;
    text-decoration: none;
    font-weight: 300;
    font-size: large;
    color: aliceblue;
    margin: 10px;
    padding: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#loginButtonText{
    margin-right: 40px;
    background: none;
    background-color: rgba(rgba(255, 0, 0, 0), rgba(0, 128, 0, 0), rgba(0, 0, 255, 0), 0);
    border-color: aliceblue;
    border-style: groove;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: aliceblue;
    align-items: flex-end;
    outline: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}